@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 170px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
}
#instagram{
  background-color: #c13584
}
#tiktok{
  background-color: #6a76ac
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.background-container {
  background-image: url('/public/images/background.jpg'); /* Replace with the path to your image */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  /* Other CSS properties to style your container as needed */
  
  width: 100vw;
 
}